<html>
<head>
	<%= stylesheet_link_tag 'show' %>
	<title>Cecil Crain:  Project</title>
</head>
<body>

	<div id="wrapper">
		<div id="upper_bar">	
			<ul>
				<li><a href="/users/">HOME</a></li>
				<li><a href="/authors/index">ABOUT THE AUTHOR</a></li>
				<li><a href="http://www.kickstarter.com" target="_blank">KICKSTARTER</a></li>
				<li><a href="/comments">REVIEWS</a></li>

			</ul>
		</div>

		<div id="main_content">
			<div class="clear">
				<h1>Welcome <%= @user.first_name %>.  Thank you for registering with my web site!</h1><br>
				<h2>(Use the scrollbar to see the entire first chapter)</h2>
			</div>
		</div>

		<div id="first_chapter">
			<div style="height:400px;width:1220px; font:25px/25px 'Helvetica Neue',Helvetica,Arial,sans-serif;overflow:auto;">
			<p>THE BEGINNING <br><b><br>
			Chapter 1<br><br>
			
Lee walked over to the edge and leaned against the metal railing on the back deck of his house and took in the view across the horizon.  Looking south, the jagged coastline extended for miles along the Pacific Ocean.  To the north, the jetty at the Pillar Point Harbor extended into the water providing a safe home for the boats who call Half Moon Bay home.  The deep blue-black colors of the water were mesmerizing.  The sunset filled the sky with a vast array of multi-colored clouds.  The red and orange colors from the fires burning to the south contrasted with the vast blue waters of the Pacific Ocean.  The last remaining yellow tip of the sun was dipping below the horizon.  If you looked hard enough, there was a hint of purple where the water met the sky.<br><br>
The warm wind blowing across the mountains to the south carried the distinct smell of smoke.  The fires were part of life in this area.  It was their time of the year.  Along with floods, drought and mudslides, the forest fires were just one of the four seasons experienced in this area. The fires were too far away from Lee’s house for him to be concerned. The smoke knew no boundaries and traveled well beyond the scene of the crime. The seasons in Northern California were different from other places where Lee had lived.  The summers were cold and wet and the best weather generally started in winter when most of the country was covered in snow.  
It was early November and the days were getting progressively shorter.  In another minute, the sun would be gone and the night would begin.  The horizon would soon be lost in the darkness.  The temperature had dropped several degrees over the last few days and the weather reminded Lee of autumn in the midwest when he was young.  The brisk evening temperatures were one of the many reasons he loved this area.<br><br>
A slight smile crept across his face as he turned around to admire his latest purchase.  The three bedroom ‘starter’ house was perched on the side of the Santa Cruz Mountains and provided a peaceful sanctuary among the redwoods which were scattered across the landscape.  Lee was still in shock at the purchase price, $2.5 million did not go very far in the Bay Area real estate market.<br><br>
He tucked his cold hands in the front pockets of his jeans.  He felt something in the right pocket and pulled out his watch.  He had spent more on the Tag Heuer than he did on the first car he bought.  If his dad were still alive, he would think Lee was crazy to have spent so much money on something that told the same time as the $20 Timex his dad always wore.  Lee looked at his watch.  It wasn’t too flashy.  No diamonds, no gold.  It wasn’t his style.  He considered himself to be conservative, especially when it came to the way he dressed.  The watch was, however, a constant reminder of how far he had come in such a short period of time from his humble beginnings.  If someone had told his that someday he would be wearing a $5,000 watch, he would have told them they were crazy.  <br><br>
It was a little after five on a beautiful afternoon.  Everything seemed perfect.  Lee had the perfect family, the perfect home, the perfect job.  What could be better?  He was living the dream.  All the hard work at school and the long hours at the office were finally paying off.  The money was coming in and the bills were being whittled away.  Life is good.  
Out of nowhere, his iPhone starting ringing.  Lee wasn’t startled since it was a familiar sound.  But he was disappointed because the phone woke him up.  It was only a dream.
<br><br>
The number was blocked but he decided to answer the call.  
“Hello, this is Lee.” 
At first, no one responded when he answered the phone.  He was about to hang up when suddenly there was some muffled noise on the other end.<br><br>
“Hello.  This is Lee Crain.  Can I help you?”<br><br>
It wasn’t unusual for clients who lived in different time zones to call this early in the morning.  Lee guessed they didn’t realize that California was in some cases, three hours behind him.  It didn’t matter.  Some clients who lived in the same state would call at five or six o’clock in the morning.  <br><br>
After a few seconds, he decided to hang up.  It must be the wrong number.  He rubbed his eyes and tried to focus them in the dark.  The clock on his phone said 5:00 a.m.  He heard the rain pounding on the window.  He thought about the dream he had and wondered where he went wrong in life.  He was sitting in a rented condo at least forty miles from the coast.  Reality was not even close.  <br><br>
Even though he wasn’t ready, he got up out of my bed, walked to the window and looked outside.  It was still dark outside.  It rained most days in the Bay Area this time of the year.  He recalled hearing on the news last night the weatherman saying the rain should stop today before noon and the high temperature in San Francisco would be in the mid 60’s.  Not bad for this time of the year.  No wonder so many people wanted to live here. <br><br>
He walked from the bathroom through the nearly empty master bedroom to the kitchen.  He had to wake up.  With the exception of the espresso machine  he recently purchased out of necessity, the kitchen counters were practically bare.  Everything indicated that the one bedroom condo was occupied by a bachelor who cared little about possessions.<br><br>
While Lee was waiting for the morning ‘juice’ to finish brewing, the phone rang again.  He checked the caller ID.  This time the number wasn’t blocked.  It was a number from the 415 area code.  It wasn’t a number he had saved in my contacts and he did not recognize the prefix.  Again, out of better judgment, he slid the answer button.
“Hello, this is Lee.”<br><br>
“Is Lenneal there?” the man asked.
“Who the fuck is this?” I asked. “There is no one here named Lenneal.”  
The caller did not respond.  There was silence.  He slammed the phone down on the kitchen counter.  A sudden rush of adrenaline entered his body.  He felt dizzy as if he was going to faint.  Very few people had this number.  Lee walked over to the kitchen table and had seat.  Who would be calling me at this hour in the morning?  Was this someone’s idea of a sick joke?  After a minute, the moment passed.  He could handle it.  <br><br>
The gurgling of the coffee maker announced the completion of what he needed most right now.  Lee had struggled with insomnia for the last few months.  The lack of sleep was starting to take a toll on him.  He got up and poured a cup into his favorite coffee mug.  He shook his head when he read the writing on the mug, “World’s Greatest Attorney!”  It had been a gift from his Aunt when he graduated from law school.  I wonder if she still felt the same way with everything that had happened to me over the last few months.  Perhaps it was time to get a new coffee mug.
After finishing the coffee, he longed for a long hot shower.  The heat and the jolt of caffeine would help him wake up.  Fifteen minutes later, it was time to get ready.  He got out of the shower and grabbed a towel from the rack and dried the excess water from his hair and body.  He wrapped the towel around his waist and walked toward the mirror which was fogged up from the long hot shower.  Lee used his hand to clear an area on the mirror.  He looked at himself in disgust.  Even though he had not weighed myself in a long time, he could tell he had lost several pounds in the last few months.  I’m not on a diet.  I just don’t have an appetite.  <br><br>
Lee’s six foot frame looked like it needed another fifteen to twenty pounds to be proportional.  He had always paid attention to his diet and during college and most of law school had managed to work out at least five days a week.  He leaned closer to the mirror to get a better look at his face.  The lines around his dark brown eyes told the story.  The stress and hectic lifestyle caused the weight to drop and the crow’s feet to grow.  I almost don’t recognize myself anymore.  I have aged about ten years in the last six months.  At least he still had a full head of hair and there were no signs of gray mixed in the light brown color.  He had seen enough. 
Lee decided to wear his new navy-colored Brooks Brothers’ suit he had recently purchased.  He wouldn’t have thought twice about dropping $1,500 on it just a few months ago.  At the time, he didn’t think he would ever have to worry about money again.  Besides, after what could happen today, he may not have a chance to wear it for a while, if ever again.  He didn’t want to appear to be arrogant so he chose a basic green and blue striped tie.  I have to come across as an honest attorney, not too flashy.    <br><br>
Despite his current mood, Lee knew it was going to be a great day.  Not some dream, but the greatest day ever.  I just know it.  Everything will work out.  My mother used to tell me all the time, “Everything happens for a reason.”  I was also familiar with the phrase, “Shit happens.”  I liked my mother’s expression better.  I thought about all the things that had happened to him over the past year.  The reason why these things happened to me and others involved, had finally become clear.<br><br>
I regretted a lot of the decisions he had made along the way.  Some things had happened to me that looking back did not fit well into his plan.  I will not live in regret any more.  I have learned from my mistakes and it was time to move on.  I had planned this day for the past three months and nothing could go wrong.  Everything did happen for a reason.  Today, my life would change before sunset and the night would bring a new beginning. <br><br>

Lee backed his new BMW out of the garage.  As the overhead door was closing, he took one last look at the place.  He felt nothing.  There was nothing sentimental about this place.  The BMW was the first new car he had ever owned.  He looked down at the odometer and saw that it already had almost 10,000 miles on it and it was less than six months old.  The last thing he was worried about was this car.    <br><br>
He left the condo in Dublin before dawn not only to avoid the morning commute traffic but also to see San Francisco at its finest moment.  Okay, part of the reason he was up so early and able to leave the house this early was because he couldn’t sleep.  Insomnia was something new to Lee.  He had tossed and turned all night. He normally was able to fall asleep as soon as his head hit the pillow.  However, the current living arrangements were unfamiliar to him and he had a lot on his mind.  <br><br>
As he drove along the 580 freeway, just past the 238 interchange, Lee saw the skyline of San Francisco in the distance to the west.  The skyscrapers were shrouded in a dense fog and appeared to be rising from the waters of the Bay.  The sun was trying to peak through the clouds to the east and rise over the Redwood Hills but it too was struggling to come to life this day.  The rays of light in the early morning hours were beginning to reflect off the steel and glass buildings in the city.  <br><br>
Lee enjoyed seeing the sunrise as it is the beginning of a new day.  The sunrise, however, seemed different today.  The colors of the sky reminded him of the sunrises from his childhood growing up with his family in the Midwest.  He always cherished the time he spent with his dad when they occasionally got up early to enjoy the colors that nature produced only in the morning hours.  The sky today had the same colors and markings of a day long ago that forever changed his life and would ultimately shape Lee into the person he was today.  <br><br>
As he passed through the tunnel on Yerba Buena, Lee saw the locations of some of the events that put him in the position where he was in today:  the Transamerica Pyramid, Coit Tower, the Golden Gate Bridge poking through the fog in the far distance.  AT&T Park was to his left.  Lee recalled the first Giants game he saw in person and how he was just as excited to be there as the group of kids who sat a few rows in front of him.  It was one of the highlights of the time he had spent in the city.  <br><br>
Lee had crossed the Bay Bridge into San Francisco dozens of times during the past two years.  He never got tired of the view which always reminded him why he chose to move back from Los Angeles.  It suddenly occurred to him that today may be the last time he might get to experience the sensation of seeing the familiar sites.  <br><br>
The Bay Area’s only all news station, KCBS 106.9 FM was on the radio.  Jeff Bell and Patti Reising, the morning commute announcers, were hard at work delivering up to the minute information and in depth reporting which fueled the hunger of their listeners.  The top story of the day was the continuation of a murder trial taking place at the Hall of Justice.  The trial was in its second week and the prosecution was ready to put their star witness on the stand.  The publicity surrounding the trial had captured the attention of the nation as evidenced by the television and radio crews from around the country who were following each day’s events.  
Kim Wonderly, the traffic reporter, announced the time was 6:00 o’clock.  Lee had a meeting at 9:00 a.m.  He had three hours to change my mind.  He could ignore everything and continue driving across the Golden Gate Bridge and head north into Marin County and try to forget the past two years of his life.  Lee, however, had a plan.  It would work.  He knew that regardless of what happened today, his life would never be the same.  <br><br>
As he crossed the last span of the Bay Bride, he took the Fremont Street off ramp and headed north towards Market Street.  At the stop light he looked east at the Ferry Building.  The streets were still wet from the overnight rain.  He continued on Fremont and turned left on California.  The sidewalks were void of the pedestrians who would soon be in full force on their way to work.  In a few moments Lee came to the Bank of America Building.  This was a familiar route that he had taken many times over the last few months.  Lee passed through Chinatown where several merchants were already out washing the sidewalks in preparation for the tourists who would soon crowd their storefronts.  <br><br>
He continued to drive around aimlessly through the city for the next hour. He had no place to go. He thought about the group of current clients and how their cases had become part of his life and played an important role in the decision which would change his life.<p>
		</div>

			<br><br>
			<div id="comments">
				<h2>Feel free to leave a comment after reading the first chapter of Shattered Justice.</h2><br><br>
				<p>You will receive an email when the final version of Shattered Justice is available for sale.</p><br><br>

				<p><span class="italic">Shattered Justice</span> is a work of fiction.  The names, characters and incidents are the product of the author’s imagination or are used fictitiously. Any resemblance to actual persons, living or dead, eventsor locales is purely coincidental.</p><br><br>
			</div>


			<div id="form">
				<%= @user.errors.full_messages if @user.errors.any? %>
<!-- 			  	<form action="/comment" method="post">
 --><!-- 				  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
 -->		<!-- 	<textarea name="comment" id="comment" placeholder="Enter commment......"></textarea><br>
				<input type="submit" value="Submit Comment"/>
				</form>
 -->

			  	<form action="/comments" method="post">
				  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	 			  <textarea name="comment" id="comment" placeholder="Enter commment......"></textarea><br><br>
				  <input type="submit" value="Submit Comment"/>
				</form>
			</div>
		</div>

</html>





